[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "backShift"]
	path = backShift
	url = https://github.com/christinaheinze/backshift
	shallow = true
	registered = true
[submodule "CompareCausalNetworks"]
	path = CompareCausalNetworks
	url = https://github.com/christinaheinze/comparecausalnetworks
	shallow = true
	registered = true
[submodule "CondIndTests"]
	path = CondIndTests
	url = https://github.com/christinaheinze/nonlinearicp-and-condindtests
	shallow = true
	subdir = CondIndTests
	registered = true
[submodule "nonlinearICP"]
	path = nonlinearICP
	url = https://github.com/christinaheinze/nonlinearicp-and-condindtests
	shallow = true
	subdir = nonlinearICP
	registered = true
