[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "backShift"]
	path = backShift
	url = https://github.com/christinaheinze/backshift
[submodule "CompareCausalNetworks"]
	path = CompareCausalNetworks
	url = https://github.com/christinaheinze/comparecausalnetworks
[submodule "CondIndTests"]
	path = CondIndTests
	url = https://github.com/christinaheinze/nonlinearicp-and-condindtests
	subdir = CondIndTests
[submodule "nonlinearICP"]
	path = nonlinearICP
	url = https://github.com/christinaheinze/nonlinearicp-and-condindtests
	subdir = nonlinearICP
