[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "backShift"]
	path = backShift
	url = https://github.com/christinaheinze/backshift
	shallow = true
	registered = true
[submodule "CompareCausalNetworks"]
	path = CompareCausalNetworks
	url = https://github.com/christinaheinze/comparecausalnetworks
	shallow = true
	registered = true
